{% extends "base.html" %}

{% block title %}
  Purchases
{% endblock title %}

{% block body %}
<div class="container p-2">
    <div style="border-radius: 20px;" class="second_bg card p-2 mt-3 shadow">
        <div class="d-flex justify-content-center p-3">
            <h3>Add new Purchase</h3>
        </div>
        <form method="post">
          {% csrf_token %}
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <select id="product_select" name="product" required class="form-select" aria-label="Default select example">
                        <option disabled selected value>Select a product</option>
                        {% for product in context.products %}
                          <option value="{{ product.pk }}">{{ product.name }}</option>
                        {% endfor %}
                        <option value="null">Other</option>
                      </select>
                    <label class="form-label" for="date">Product</label>
                </div>
              </div>
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="date" class="form-control" id="date" required name="date">
                    <label class="form-label" for="date">Date Purchased</label>
                </div>
              </div>
            </div>
            <div style="display: none;" id="product_name_input" class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input id="product_name" type="text" class="form-control" name="product_name">
                  <label class="form-label" for="date">Product Name</label>
                </div>
              </div>
              <div class="col"><div class="form-outline"></div></div>
            </div>
            <div class="row mb-4">
                <div class="col">
                  <div data-mdb-input-init class="form-outline">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input required name="price" type="number" class="form-control" step=".01">
                    </div>
                    <label class="form-label" for="date">Price</label>
                  </div>
                </div>
                <div class="col">
                  <div data-mdb-input-init class="form-outline">
                      <input type="text" class="form-control" required name="where">
                      <label class="form-label" for="date">Where</label>
                  </div>
                </div>
              </div>
    
              <div class="row mb-4">
                <div class="col">
                  <div data-mdb-input-init class="form-outline">
                      <input required class="form-control" type="number" name="qty" id="">
                      <label class="form-label" for="date">Quantity</label>
                  </div>
                </div>
                <div class="col">
                    <select name="unit" required class="form-select" aria-label="Default select example">
                        <option disabled selected value>Select Unit</option>
                        {% for unit in context.units %}
                          <option value="{{ unit.pk }}">{{ unit.unit }}</option>
                        {% endfor %}
                      </select>
                    <label class="form-label" for="date">Units</label>
                </div>
              </div>
    
              <div class="form-check">
                <input name="refrigerated" class="form-check-input" type="checkbox" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Is this product refrigerated?
                </label>
              </div>
          
            <div class="d-flex justify-content-center mt-4">
                <button data-mdb-ripple-init type="submit" class="btn_bg btn btn-secondary btn-block mb-4">Add Purchase</button>
            </div>
          </form>
    </div>
</div>
<script>
  const addInput = ()=>{
    $("#product_name_input").show()
    $("#product_name").prop('required',true)
  }
  const hideInput = ()=>{
      $("#product_name_input").hide()
      $("#product_name").prop('required',false)
  }
  $("#product_select").on('change', function(){
    if($("#product_select option:selected").text() == "Other"){
      addInput()
    }else{
      hideInput()
    }
  })
</script>
{% endblock body %}