{% extends "base.html" %}

{% block title %}
  Manage Raw Inventory
{% endblock title %}

{% block body %}
<div class="d-flex justify-content-center flex-column m-5">
    <h1>Raw Inventory</h1>
    <ul class="second_bg list-group list-group-flush">
        {% for product in products %}
            <li class="second_bg list-group-item">{{ product.name }}:
                <div class="progress mt-2">
                    <div class="progress-bar accent_color_three_dark" role="progressbar" style="width: {{ product.total_percent }}%" aria-valuenow="product.total_left" aria-valuemin="0" aria-valuemax="{{ product.total_purchased }}"></div>
                </div>

            </li>
          
        {% endfor %}
    </ul>
</div>
{% endblock body %}